
data/\.DS_Store

data/dataset_Market1501\.mat

data/dataset_PRID450S\.mat

data/dataset_VIPeR\.mat

data/IDE_Market1501\.mat

data/LOMO_PRID450S\.mat

data/LOMO_ReID_CUHK03_detected\.mat

data/LOMO_VIPeR\.mat

data/Market-IDE/IDE_ResNet_50_query\.mat

data/Market-IDE/IDE_ResNet_50_test\.mat

data/Market-IDE/IDE_ResNet_50_train\.mat

data/Market-IDE/queryCam\.mat

data/Market-IDE/queryID\.mat

data/Market-IDE/testCam\.mat

data/Market-IDE/testID\.mat

data/Market-IDE/train_cam\.mat

data/Market-IDE/train_label\.mat

data/split_VIPeR\.mat

data/splits/\.DS_Store

data/splits/Market1501/\.DS_Store

data/splits/Market1501/nm_splits\.mat

data/splits/Market1501/query\.mat

data/splits/Market1501/test\.mat

data/splits/Market1501/train\.mat

\.DS_Store

data\.zip
